<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @criminal_code.name %>
</p>

<%= link_to 'Edit', edit_criminal_code_path(@criminal_code) %> |
<%= link_to 'Back', criminal_codes_path %>
