<%- model_class = Article -%>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.article')) %>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/edit_actions',
          locals: {
            object: @article,
            index_path: articles_path,
            show_path: article_path
                  }
    %>
  </div>
<% end %>

<%= render partial: 'form' %>
