<%- model_class = Article -%>
<% page_title "New #{model_class.model_name.human.titleize}" %>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/form_actions',
          locals: {
            object: @artcile,
            index_path: articles_path,
            show_path: article_path
                  }
    %>
  </div>
<% end %>
<%= render :partial => 'form' %>
