<% model_class = PageSection %>
<% page_title t('shared.actions.with_obj.new',
                obj: t('activerecord.models.page_section', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/new_actions',
        locals: {
          object: @page_section,
          index_path: page_sections_path
                }
  %>
</div>

<%= render partial: 'form' %>
