<%- model_class = Tag -%>
<% page_title t('shared.actions.with_obj.new',
                obj: t('activerecord.models.tag', count: 1)) %>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/new_actions',
               locals: {
                 object: @tag,
                 index_path: tags_path,
               }
    %>
  </div>
<% end %>

<%= render partial: 'form' %>
