<% page_title 'About' %>
<div class="article about">
   <div class="partners">
      <%= link_to(image_tag("about_meydan.png"), "http://www.jumpstart.ge/en", :target => "_blank",
               :title => "MYEDAN TV - Azerbaijan's free and alternative media channel" ) %>
      <%= link_to(image_tag("about_js.png"), "http://www.meydan.tv/en", :target => "_blank",
               :title => "JumpStart Georgia - We communicate data better!" ) %>
   </div>
</div>