<% page_title t('.title') %>

<p>The information and data in this site is a work in progress. It is constantly being updated and challenged according to <a href="/en/methdology">PACE’s definition of a political prisoner</a>. If you feel that information is missing or incorrect, please contact us at:</p>

<p>
  <a href='ma&#105;l&#116;o&#58;info%40p%72ison%&#54;5rs&#46;w&#97;t%&#54;3h'>
    i&#110;&#102;o&#64;&#112;&#114;i&#115;oners&#46;&#119;&#97;t&#99;&#104;
  </a>
  (<a href="/Prisoners Watch info@prisoners.watch (0x8FB4E7CD) pub.asc">PGP</a>)
</p>
