<% page_title 'Political Prisoners in Azerbaijan' %>
<p>Number of people <strong>currently</strong> imprisoned in Azerbaijan for political purposes: <%= @currently_imprisoned_count %></p>

<!--The data for this graph is not complete, so the graph is erroneous until the data is updated. The prisoners in the database currently only include those who were imprisoned as of August 2014. Any prisoners who were arrested and released after the starting date of this timeline and before August 2014 would not be reflected in this data.-->
<div id="imprisoned-count-timeline" style="width:100%; height:400px;"></div>
<p id="data-incomplete-warning-timeline" class="data-incomplete-warning">*The data for this timeline is incomplete, because it only portrays the political prisoner situation as of August, 2014. For example, a prisoner arrested in 2008 and released in 2009 would not be shown on this timeline, and the release of a prisoner since August, 2014 would also not be shown. </p>
<div class="row">
  <div class="col-sm-6">
    <div id="prison-prisoner-counts" style="width:100%; height:800px;"></div>
  </div>
  <div class="col-sm-6">
    <div id="top-10-charge-counts" style="width:100%; height:800px;"></div>
  </div>
</div>

