
<div class="row">
  <div class="col-sm-6">
    <div id="main-description">
      <p>Number of people <strong>currently</strong> imprisoned in Azerbaijan for political purposes: <%= @currently_imprisoned_count %></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="main-video">
      <video src="#" controls></video>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a class="btn btn-success main-link" href="<%= methodology_path %>">What is a political prisoner?</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-success main-link" type="button" href="<%= prisoners_path %>">Explore Azerbaijani Political Prisoners</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-success main-link" type="button" href="<%= csv_zip_path %>">Download Latest Data</a>
  </div>
</div>
<div id="imprisoned-count-timeline" style="width:100%; height:400px;"></div>
<p id="data-incomplete-warning-timeline" class="data-incomplete-warning">*The data for this timeline is currently incomplete and in the process of being updated.</p>
<div class="row">
  <div class="col-sm-6">
    <div id="prison-prisoner-counts" style="width:100%; height:500px;"></div>
  </div>
  <div class="col-sm-6">
    <div id="top-10-charge-counts" style="width:100%; height:500px;"></div>
  </div>
</div>
