<% page_title 'Political Prisoners in Azerbaijan' %>
<p>Number of people <strong>currently</strong> imprisoned in Azerbaijan for political purposes: <%= @currently_imprisoned_count %></p>
<p>Number of people imprisoned in Azerbaijan for political purposes <strong>one year ago</strong>: <%= @one_year_ago_imprisoned_count %></p>
<div id="container" style="width:100%; height:400px;"></div>