// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#links {
  margin: 20px 0px;
  display:inline-block;
}

#incidents .nested-fields {
   margin: 10px 0px 0px 10px;
   padding-bottom:2px;
   &:not(:last-of-type) {
      border-bottom:1px solid #e4e4e4;
   }
}
