$spinner-size: 150px;

.loading-indicator {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .fa-spinner {
    font-size: $spinner-size;
    position: fixed;
    width: $spinner-size;
    height: $spinner-size;
    left: 50%;
    top: 50%;
    margin-top: $spinner-size/-2;
    margin-left: $spinner-size/-2;
  }
}
