// Place all the styles related to the Prisoners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.infos
{
  .info {
    &:not(:last-of-type) {
      padding-bottom:10px;
      border-bottom:1px solid #e4e4e4;
      margin-bottom:10px;
    }
    .name {
      margin:0px 0px 10px 10px;
    }
    .actions
    {
      margin:10px 0px 0px;
      div { display:inline-block; }
    }
    .figure {
      max-width:160px;
    }
    .kv {
      padding:2px 0px;
      font-weight:bold;
      span {
        font-weight:normal;
      }
    }
    .descr {
      padding:6px 0px 0px;
    }
    .right-box {
      margin:0px;
    }
  }
}
.info {
  .figure img {
    border:1px solid #ddd;
    padding:3px;
    display: inline-block;
  }
  .name-and-age {
    vertical-align: top;
  }
  h1 {
    margin-bottom: 0;
  }
  .age {
    color: #d9534f;
  }
  .name-and-age .age {
    font-size: 1.3em;
  }
  .state-board {
    display:initial;
    .total {
      .days {
        color: #d9534f;
      }
    }
    .status span{
      color: #d9534f;
      br { display:none; }
    }
    .status.green span{
      color:#5cb85c;
    }
  }
  .state-board.state-board-desktop {
    .total {
      display:block;
      max-width:240px;
      padding-bottom:10px;
      border-bottom: 1px solid rgb(228, 228, 228);
      margin-bottom:10px;
      .days {
        font-size: 6em;
        line-height:1em;
        text-align:center;
      }
      .in-prison {
        white-space:nowrap;
        font-size:12px;
      }
    }
    .status {
      color: #d9534f;
      display:block;
      font-size: 1.6em;
      line-height: 1.3em;
      text-align: center;
      text-transform: uppercase;
      max-width:240px;
      br { display:initial; }
    }
    .status.green {
      color:#5cb85c;
    }
  }

  .left-box {
    position:relative;
    display: inline-block;
    vertical-align: top;
  }
  .right-box {
    vertical-align:middle;
    text-align:center;
    margin-top: 10px;
  }
}

.value {
  display:inline-block;
}
.arrests, .prisoner
{
   .header {
    font-size:2em;
    line-height:1em;
    color: #d9534f;
    margin-bottom:20px;

    >div {
      display:table-cell;
    }
    > div:last-child {
      width:100%;
      vertical-align: middle;
      padding: 6px 10px 0px;
    }
    .hor-line
    {
      width:100%;
      height:1px;
      background-color:#e4e4e4;
    }
  }
}
.prisoner .header {
   margin-bottom:10px;
}

/* no abs position on prisoner index page */
.prisoners-container .info {
  .name {
    position: inherit;
    transform: inherit;
    top: inherit;
  }
}

.arrests{
  margin-top: 30px;
  .arrest
  {
    padding:1em 2em;
    &:not(:last-child)
    {
      border-bottom:1px solid #e4e4e4;
    }
    .row {
      margin-bottom:5px;
    }
    label {
      display:table-cell;
      vertical-align:top;
      font-size: 13px;
      color: #5E5E5E;
      padding:0px 10px 0px 0px;
    }
    a {
      color: #5cb85c;
       text-decoration:none;
      &:hover, &:focus
      {
        color: #008E00;
        text-decoration:none;
      }
    }
    ul {
      color:#5cb85c;
      list-style:none;
      padding:0px;
    }
    li:before {
      color: red;
    }
    .description, .descr {
      font-size: 12px;
      text-align: justify;
      line-height: 20px;
      margin-top: 4px;
    }
    .value {
      display:table-cell;
      vertical-align:top;
    }
  }
}
form
{
   label + img { display:block; }
   h3 { margin-top:10px; }
   h3 > .tree-toggle
   {
      display:inline-block;
      &:hover {
         cursor:pointer;
      }
      > span.fa {
         font-size:16px;
         margin-right:5px;
         vertical-align: middle;
         cursor:pointer;
      }
   }
}
#imprisoned-count-timeline
{
  pointer-events:none;
}
@media (min-width: 992px) {
  #imprisoned-count-timeline
  {
    pointer-events:initial;
  }
  .info {
    .right-box {
      margin-top: 20px;
    }
    .left-box {
      display:none;
    }
  }
}

@media (max-width: 992px) {
  .name-and-age .age {
    display: none;
  }
  .right-box {
    display: none;
  }
}
