<%- model_class = Prisoner -%>
<% page_title t('app.actions.admin.with_obj.edit', obj: t('activerecord.models.prisoner')) %>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/edit_actions',
          locals: {
            object: @prisoner,
            index_path: prisoners_path,
            show_path: prisoner_path
                  }
    %>
  </div>
<% end %>

<%= render :partial => 'form' %>
